<h2>Celebrity page</h2>
<form method="POST" action="/celebrities/create">
    <label>Name<input name="name"/></label>
    <label>Occupation<input name="occupation"/></label>
    <label>CatchPhrase<input name="catchPhrase"/></label>
    <button type="submit">Create Celebrity</button>
</form>